.tweet-card {
  margin: 1em 0;
}

.tweet-container {
  display: flex;
  align-items: center;
}

.tweet-container-body {
  width: 70%;
}

.tweet-container-actions {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.tweet-container-actions button mat-icon {
  font-size: 20px;
}

.tweet-container-actions .remove-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}